<div class="shadow bg-white mt-3 p-4">
  <div class="d-flex justify-content-between">
    <button class="btn btn-dark btn-lg" routerLink="/admin">Volver al menú</button>
    <h1>Administrar Vuelos</h1>
    <button class="btn btn-success btn-lg" (click)="openAddEditVueloForm()">Añadir Vuelo</button>
  </div>
</div>
<div class="contenedor-tabla mb-4 mt-4">
  <mat-form-field>
    <mat-label>Buscar por...</mat-label>
    <input matInput (keyup)="applyFilter($event)"
      placeholder="ID, Aeropuerto origen, Aeropuerto destino, precios, fechas, asientos, estados" #input>
  </mat-form-field>

  <div class="mat-elevation-z8 mat-table-responsive">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Buscar por id"> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.idVuelo}} </td>
      </ng-container>

      <!-- Aeropuerto Origen Column -->
      <ng-container matColumnDef="idAeropuertoOrigen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Buscar por idAeropuertoOrigen">
          Aeropuerto Origen
        </th>
        <td mat-cell *matCellDef="let row"> {{getAeropuertoNombre(row.idAeropuertoOrigen)}} </td>
      </ng-container>

      <!-- Aeropuerto Destino Column -->
      <ng-container matColumnDef="idAeropuertoDestino">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Buscar por idAeropuertoDestino">
          Aeropuerto Destino
        </th>
        <td mat-cell *matCellDef="let row"> {{getAeropuertoNombre(row.idAeropuertoDestino)}} </td>
      </ng-container>

      <!-- Precio Vuelo Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Buscar por precio">
          Precio Vuelo </th>
        <td mat-cell *matCellDef="let row"> {{row.precio | currency: 'COP '}} </td>
      </ng-container>


      <!-- Fecha Salida Column -->
      <ng-container matColumnDef="fechaHoraSalida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Buscar por fechaHoraSalida">
          Fecha Salida </th>
          <td mat-cell *matCellDef="let row">{{ row.fechaHoraSalida | date: 'MMM d, y, h:mm a' }}</td>
      </ng-container>

      <!-- Fecha Llegada Column -->
      <ng-container matColumnDef="fechaHoraLlegada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Buscar por fechaHoraLlegada">
          Fecha Llegada </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaHoraLlegada | date: 'MMM d, y, h:mm a'}}
        </td>
      </ng-container>

      <!-- Precio Vuelo Column -->
      <ng-container matColumnDef="precioAsientoPreferencial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
          sortActionDescription="Buscar por precioAsientoPreferencial">
          Precio Preferencial </th>
        <td mat-cell *matCellDef="let row"> {{row.precioAsientoPreferencial | currency: 'COP '}} </td>
      </ng-container>

      <!-- Precio Vuelo Column -->
      <ng-container matColumnDef="precioAsientoVip">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Buscar por precioAsientoVip">
          Precio VIP </th>
        <td mat-cell *matCellDef="let row"> {{row.precioAsientoVip | currency: 'COP '}} </td>
      </ng-container>


      <!-- Precio Vuelo Column -->
      <ng-container matColumnDef="precioAsientoTurista">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Buscar por precioAsientoTurista">
          Precio Turista </th>
        <td mat-cell *matCellDef="let row"> {{row.precioAsientoTurista | currency: 'COP '}} </td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Buscar por estado">
          Estado </th>
        <td mat-cell *matCellDef="let row"> {{getEstado(row.estado)}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)" style="color: #0077be;">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteVuelo(row.idVuelo)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
