<div class="container mb-3 d-flex justify-content-center mt-5">
  <div class="register-card">
    <h2 class="register-title">Regístrate</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Cedula</mat-label>
        <input matInput type="text" placeholder="Ej. 2222222222" formControlName="cedula" minlength="10" maxlength="10"
          (input)="onCedulaInput()">
        <mat-error *ngIf="registrationForm.get('cedula').hasError('required')">{{ cedulaErrors.required }}</mat-error>
        <mat-error *ngIf="registrationForm.get('cedula').hasError('pattern')">{{ cedulaErrors.pattern }}</mat-error>
        <mat-error *ngIf="registrationForm.get('cedula').hasError('exist')">{{ cedulaErrors.exist }}</mat-error>
        <mat-error *ngIf="registrationForm.get('cedula').hasError('specialChars')">{{ cedulaErrors.specialChars
          }}</mat-error>
      </mat-form-field>


      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Nombre(s)</mat-label>
            <input (input)="capitalizeInput('nombre')" matInput formControlName="nombre">
            <mat-error *ngIf="registrationForm.get('nombre').hasError('required')">El nombre es requerido</mat-error>
            <mat-error *ngIf="registrationForm.get('nombre').hasError('pattern')">El nombre no debe contener caracteres especiales ni números</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Apellido(s)</mat-label>
            <input (input)="capitalizeInput('apellido')" matInput formControlName="apellido">
            <mat-error *ngIf="registrationForm.get('apellido').hasError('required')">El apellido es requerido</mat-error>
            <mat-error *ngIf="registrationForm.get('apellido').hasError('pattern')">El apellido no debe contener caracteres especiales ni números</mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input (input)="lowercaseInput('correo')" matInput formControlName="correo">
        <mat-error *ngIf="registrationForm.get('correo').hasError('required')">El correo es requerido</mat-error>
        <mat-error *ngIf="registrationForm.get('correo').hasError('pattern')">El correo no es válido</mat-error>
      </mat-form-field>
      <div class="d-grid gap-2 mb-3">
        <button color="primary" class="btn register-button" [disabled]="registrationForm.invalid">Registrarse</button>
      </div>

    </form>
    <p class="login-link">¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
  </div>
</div>
