<div class="opciones-contenedor">
  <div class="shadow bg-whitep p-4">
    <h1 class="text-center">¡Bienvenid@ Administrador!</h1>
    <div class="d-grid gap-2">
      <button class="btn btn-adm" type="button" routerLink="/admin/adm-aviones">Administrar Aviones</button>
      <button class="btn btn-adm" type="button" routerLink="/admin/adm-usuarios">Administrar Usuarios</button>
      <button class="btn btn-adm" type="button" routerLink="/admin/adm-aeropuertos">Administrar Aeropuertos</button>
      <button class="btn btn-adm" type="button" routerLink="/admin/adm-vuelos">Administrar Vuelos</button>
      <button class="btn btn-adm" type="button" routerLink="/admin/adm-asientos">Administrar Asientos</button>
      <button class="btn btn-adm" type="button" routerLink="/admin/adm-reservas">Administrar Reservas</button>
      <button id="cerrar" class="btn btn-danger" type="button" (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
  </div>
</div>