<nav id="nav" class="navbar">
  <div class="navbar-brand">
    <img
      src="https://avatars.githubusercontent.com/u/126130077?s=400&amp;u=0781f5e6277696e36abaaad8d1d474b38690a6cb&amp;v=4"
      routerLink="/home" alt="FlowAir Logo" class="logo">
    <h1 routerLink="/home" class="title" id="flowair">FlowAir</h1>
  </div>
  <div></div>
  <h1 class="m-2" id="seccion">Sección Administrativa</h1>
  <ul class="navbar-links">
    <li class="nav-item"><a id="home" routerLink="/home">Home</a></li>
    <li class="nav-item"><a id="vuelos" routerLink="/vuelos">Vuelos</a></li>
    <li class="nav-item">
      <span id="login"><a routerLink="/login">Login</a></span>
      <span id="perfil"><a routerLink="/perfil">Perfil</a></span>
      <span id="admin"><a id="admin2" routerLink="/admin">Administrador</a></span>
    </li>
  </ul>
</nav>
