<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <p class="footer-text">Juan Camilo Rodríguez</p>
                <a href="https://github.com/Milo0728" target="_blank"><i class="fab fa-github footer-icon"></i></a>
            </div>
            <div class="col-md-4 text-center">
                <p class="footer-text">Arturo Barona</p>
                <a href="https://github.com/barona13" target="_blank"><i class="fab fa-github footer-icon"></i></a>
            </div>
            <div class="col-md-4 text-center">
                <p class="footer-text">Juan Pablo Tascon</p>
                <a href="https://github.com/juanpablotr14" target="_blank"><i class="fab fa-github footer-icon"></i></a>
            </div>
        </div>
    </div>
</footer>